{{- $scratch := newScratch }}

{{- if not .Date.IsZero }}
  {{- if eq .Lang "zh" }}
    {{- $date := .Date.Format "2006年1月2日" }}
    {{- $scratch.Add "meta" (slice $date) }}
  {{- else }}
    {{- $date := .Date.Format "January 2, 2006" }}
    {{- $scratch.Add "meta" (slice $date) }}
  {{- end }}
{{- end }}

{{- if not .Lastmod.IsZero }}
  {{- if eq .Lang "zh" }}
    {{- $lastmod := .Lastmod.Format "2006年1月2日" }}
    {{- $scratch.Add "meta" (slice (printf "更新于 %s" $lastmod)) }}
  {{- else }}
    {{- $lastmod := .Lastmod.Format "January 2, 2006" }}
    {{- $scratch.Add "meta" (slice (printf "Updated %s" $lastmod)) }}
  {{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") }}
  {{- if eq .Lang "zh" }}
    {{- $scratch.Add "meta" (slice (printf "%d 分钟阅读" .ReadingTime)) }}
  {{- else }}
    {{- $scratch.Add "meta" (slice (printf "%d min read" .ReadingTime)) }}
  {{- end }}
{{- end }}

{{- if (.Param "ShowWordCount") }}
  {{- if eq .Lang "zh" }}
    {{- $scratch.Add "meta" (slice (printf "%d 字" .WordCount)) }}
  {{- else }}
    {{- $scratch.Add "meta" (slice (printf "%d words" .WordCount)) }}
  {{- end }}
{{- end }}

{{- if not (.Param "hideAuthor") }}
  {{- with (partial "author.html" .) }}
    {{- $scratch.Add "meta" (slice .) }}
  {{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
  {{- delimit . " · " | safeHTML }}
{{- end }}