/* 引用本地的 Garamond 字体 */
@font-face {
  font-family: 'Garamond';
  src: url('/fonts/Garamond.ttf') format('truetype');
  font-style: normal ;
}

/* 应用 Garamond 字体到英文页面 */
html[lang="en-US"] body {
  font-family: 'KingHwa_OldSong', serif;
  font-size: 19px;
}

body {
  font-family: 'KingHwa_OldSong', regular;  /* 保持中文字体配置 */
}

.vertical-chinese-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  height: 80vh;
  white-space: normal;
  column-gap: 1rem;
  padding: 1rem;
  display: block;
  direction: rtl; /* trick: 让起始位置在右边 */
  column-fill: balance; /* 平均分配列中的内容 */
}

.vertical-chinese a {
  text-decoration: underline;  /* 添加下划线样式 */
  word-break: break-word;  /* 防止链接文字溢出 */
  overflow-wrap: break-word;  /* 保证链接换行 */
}

.vertical-chinese a:hover {
  text-decoration: underline;  /* 保持下划线样式 */
}

.vertical-chinese {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 2.4;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  font-family: "KingHwa_OldSong", regular;  /* 中文竖排字体 */
  column-fill: balance; /* 平均填充列 */
  direction: ltr;  /* 保持内容本身从上到下、从右往左排 */
}

/* 为图片设置最大宽度和高度 */
.vertical-chinese img {
  max-width: 100%;    /* 确保图片宽度不超过容器 */
  max-height: 100%;   /* 确保图片高度不超过容器 */
  object-fit: contain; /* 保证图片保持比例缩放 */
}