{{- $loveHome := site.GetPage "section" "love" -}}
{{- $loveHomeURL := "/our-garden-2025-0927-k8f3q9p2/" -}}
{{- with $loveHome }}{{ $loveHomeURL = .RelPermalink }}{{ end -}}
<section class="love-search" data-love-search data-love-home="{{ $loveHomeURL }}">
  <div class="love-search-row">
    <label class="love-search-label" for="love-search-input">Search memories</label>
    <div class="love-search-box">
      <input id="love-search-input" type="search" autocomplete="off" placeholder="Timeline or posts">
      <button class="love-search-clear" type="button" data-love-search-clear aria-label="Clear search">&times;</button>
    </div>
  </div>
  <div class="love-search-status" data-love-search-status></div>
  <div class="love-search-results" data-love-search-results></div>
  <script type="application/json" id="love-search-data">{{ partial "love/search-index.json" . | safeJS }}</script>
</section>
