{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}


{{- /* Head custom content area end */ -}} 

<link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/jhlst/dist/京華老宋体v2_002/result.css' />   

<link rel="icon" href="{{ "favicon.ico?v=4" | relURL }}">    
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">

<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>

<style>
.copybtn{
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}
.copybtn:hover{ opacity: .8; }
</style>




