{{- $meta := slice -}}

{{- if not .Date.IsZero -}}
  {{- if eq .Lang "zh" -}}
    {{- $meta = $meta | append (.Date.Format "2006年1月2日") -}}
  {{- else -}}
    {{- $meta = $meta | append (.Date.Format "January 2, 2006") -}}
  {{- end -}}
{{- end -}}

{{- $lastmodFromParam := .Params.lastmod -}}
{{- $lastmodDate := .Date -}}
{{- if and $lastmodFromParam (ne $lastmodFromParam "") -}}
  {{- $lastmodDate = time $lastmodFromParam -}}
{{- else if .Lastmod -}}
  {{- $lastmodDate = .Lastmod -}}
{{- end -}}

{{- if and (not $lastmodDate.IsZero) (ne $lastmodDate.Unix .Date.Unix) -}}
  {{- if eq .Lang "zh" -}}
    {{- $meta = $meta | append (printf "更新于 %s" ($lastmodDate.Format "2006年1月2日")) -}}
  {{- else -}}
    {{- $meta = $meta | append (printf "Updated %s" ($lastmodDate.Format "January 2, 2006")) -}}
  {{- end -}}
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
  {{- if eq .Lang "zh" -}}
    {{- $meta = $meta | append (printf "%d 分钟阅读" .ReadingTime) -}}
  {{- else -}}
    {{- $meta = $meta | append (printf "%d min read" .ReadingTime) -}}
  {{- end -}}
{{- end -}}

{{- if not (.Param "hideAuthor") -}}
  {{- with (partial "author.html" .) -}}
    {{- $meta = $meta | append (printf "%s" .) -}}
  {{- end -}}
{{- end -}}

{{- if (.Param "ShowWordCount") -}}
  {{- if eq .Lang "zh" -}}
    {{- $meta = $meta | append (printf "%d 字" .WordCount) -}}
  {{- else -}}
    {{- $meta = $meta | append (printf "%d words" .WordCount) -}}
  {{- end -}}
{{- end -}}



{{- range $i, $v := $meta -}}
  {{- if gt $i 0 -}} ;&nbsp;·&nbsp; {{- end -}}
  <span class="post-meta-item">{{- $v | safeHTML -}}</span>
{{- end -}}